.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  &__title {
    font-size: 30px;
    color:var(--title-color);
  }
  &__lightSVG {
    fill: yellow;
    cursor: pointer;
  }
  &__darkSVG {
    fill: black;
    cursor: pointer;
  }
}