.generate {
  text-align: center;
}

.button {
  padding: 10px 20px;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
}