* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background-color: white;
  --primary-color: black;
  --secondary-color: royalblue;
  --accent-color: purple;
}

[data-theme='dark'] {
  --background-color: #171010;
  --primary-color: #423F3E;
  --secondary-color: #2B2B2B;
  --accent-color: #D6D5A8;
}
