* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --background-color: #96ebdd;
  --primary-color: #ffffff;
  --title-color: #170e1f;
  --password-color:#524F56;
  --text-color: #408569;
  --button-color:#6DFFBE;
}

[data-theme='dark'] {
  --background-color: #120F15;
  --primary-color: #26232A;
  --title-color: #7B767F;
  --password-color:#524F56;
  --text-color:#89D6B6;
  --button-color:#6DFFBE;
}
